/* PAGE */

body{

margin:0;

font-family:Arial, sans-serif;

background:
linear-gradient(
180deg,
#14001d,
#240035,
#000
);

color:white;

}

/* NAVIGATION */

nav{

background:#000;

padding:22px;

text-align:center;

box-shadow:
0 3px 15px
rgba(255,90,240,.2);

}

/* PAGE LINKS */

nav a{

font-family:
"Times New Roman",
serif;

font-size:24px;

font-weight:900;

color:black;

background:
linear-gradient(
90deg,
#ff9ef8,
#b46dff
);

padding:10px 18px;

border-radius:10px;

text-decoration:none;

margin:10px;

display:inline-block;

transition:.3s;

}

nav a:hover{

transform:scale(1.08);

background:
linear-gradient(
90deg,
#ffc4fb,
#d39cff
);

}

/* PARAGRAPH */

.hero p{

font-size:24px;

line-height:2;

max-width:900px;

background:
rgba(255,255,255,.05);

padding:30px;

border-radius:25px;

box-shadow:
0 0 30px
rgba(255,50,220,.2);

}

/* BUTTON */

button{

margin-top:35px;

padding:18px 40px;

font-size:20px;

border:none;

border-radius:30px;

background:
linear-gradient(
90deg,
#ff3fd8,
#7f39fb
);

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.08);

box-shadow:
0 0 30px
#ff64ec;

}

/* FOOTER */

footer{

background:black;

text-align:center;

padding:25px;

font-size:18px;

color:#ffb5ff;

}