/* GLOBAL PAGE STYLE */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #14001d, #240035, #000);
    color: white;
    font-size: 20px;
}

/* NAVIGATION */
nav {
    background: black;
    text-align: center;
    padding: 20px;
}

nav a {
    font-family: "Times New Roman", serif;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 8px 14px;
    display: inline-block;
}

nav a:hover {
    color: #ffb5ff;
}

/* PAGE TITLES */
h1, h2 {
    text-align: center;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    color: black;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 60px 20px;
}

/* PARAGRAPHS */
p {
    font-size: 22px;
    line-height: 1.8;
    max-width: 900px;
    margin: auto;
}

/* CONTAINERS */
.container {
    padding: 40px;
    text-align: center;
}

/* BUTTON */
button {
    margin-top: 20px;
    padding: 15px 35px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #ff3fd8, #7f39fb);
    color: white;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: #ffb5ff;
    margin-top: 40px;
}